* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: hero;
    overflow-x: hidden;
}

.box {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-color: #1CA0B4;
}

.kubenlogo{
    width: 70vw;
}

.topLogo{
    height: 10vw;
    top: 0;   
    position: fixed;
    transition: 1s;
    margin-bottom: 90vw;
}

.topLogo img{
    top: 0;
    left: 0;
    width: 30vw;
    transition: 1s;
}

.fake{
    background-color: #1CA0B4;
    height: 80vh;
}

/* .fakeMargin{
    background-color: #1CA0B4;
    margin-top: 30vw;
    transition: 1s;
} */

.spill {
    background-color: #81D3EE;
}

.teacher {
    background-color: #1CA0B4;
}

.video {
    background-color: #81D3EE;
}

.elevarbeid {
    background-color: #1CA0B4;
}

.tittle{
    font-size: 5vw;
}

.footer{
    width: 100vw;
    height: 10vh;
    background-color: #fff;
}

button{
    width: 5vw;
    height: 3vw;
}

.giftemplate{
    display: flex;
    flex-wrap: wrap;
}

.gif{
    width: 50vw;
    height: 45vh;
    border: 3px solid #000;
}

.omvisning{
    width: 100vw;
    height: 90vh;
}

.elev1{
    background-image: url(jonathanarbeid/jonathanss.jpg);
    background-size: cover;
}
.it-tekst {
    text-align: left;
    font-size: 1.5vw;
    padding-left: 2%;
    width: 900px;
    color: rgb(23, 23, 23);
    word-wrap: break-word;
}
.utvikler {
    background-color: #62cfe0;
}
.fagbrev {
    background-color: #2572a2;
    align-self: left;
    background-image: url("media/kub.png");
}